/* Malin
* {
  margin: 0;
  padding: 0;
}

.container {
  justify-content: center;
  background: rgb(135, 134, 133);
  background: linear-gradient(
    343deg,
    rgba(135, 134, 133, 1) 0%,
    rgba(206, 108, 71, 0.5270483193277311) 45%,
    rgba(137, 147, 124, 1) 89%
  );
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 1px 7px 21px -16px #000;
  border-radius: 3px;
}

.a-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 30px;
  margin: 20px;
  align-items: center;
  justify-items: center;
}

.a-comp-card {
  -moz-box-shadow: -1px 7px 21px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 7px 21px -16px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  background-color: RGBA(255, 255, 255, 0.4);
  border-radius: 7px 7px 3px 3px;
  box-shadow: -1px 7px 21px -16px rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
  height: 280px;
  padding: 30px;
  transition-delay: 0.3s;
  transition: 1s;
  width: 300px;
}

.a-comp-card:hover {
  -webkit-box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
  background-color: RGBA(255, 255, 255, 0.6);
  transition: 800ms;
} */
