$backgroundGradient: linear-gradient(
    343deg,
    rgba(135, 134, 133, 1) 0%,
    rgba(206, 108, 71, 0.5270483193277311) 45%,
    rgba(137, 147, 124, 1) 89%
  );

$card: 

$backgroundGrey:

$textGrey:

$textGreen:

* {
    background-color: RGBA(69, 69, 69, 1);
}